/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

.button{
    border-style:solid;
    border-color:red;
    border-width:2px;
    width:100px;
    height:50px;
    background-color: red;
    color:white;

}
.button:hover, .button:focus {
    color:white;
    background-color:black;
}


/* 
  TEXT ELEMENTS -------------------
*/

body {
  font-family: sans-serif;
  padding: 2rem;
}

h1{
    font-family: sans-serif;
  padding: ;
  font-size: 30px;

}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}


/* 
  COMBINED ELEMENTS -------------------
*/
.button-col{
    border-style:solid;
    border-color:red;
    border-width:2px;
    width:100px;
    height:50px;
    background-color: red;
    color:white;

}
.button-col:hover, .button:focus {
    color:white;
    background-color:black;
}

.button-col2{
    border-style:solid;
    border-color:black;
    border-width:2px;
    width:100px;
    height:50px;
    background-color: black;
    color:white;

}
.button-col2:hover, .button:focus {
    color:white;
    background-color:red;
}


.container .block {
  height: 200px;
}

{
  box-sizing: border-box;
}


.container .block:nth-of-type(even) {
  background-color: #333;
}
.container .block:nth-of-type(odd) {
  background-color: #AAA;
}

.box {
  display: flex;
  flex-wrap: wrap;  
}

.box-item-nav {
  flex: 1 1 auto;  
}

@media (max width: 30em) {
  .box-item-nav {
    flex: 0 0 100%; 
  }

}




